
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.env
.env.*

*.log

stock_data/
*.csv
*.parquet
*.sqlite

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

docker-compose.override.yml

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
