# AWS key pair name
key_name = "example-key-pair"

# password for RDS
db_password = "ExampleStrongPassword123!"

# Database config
db_name     = "example_database"
db_username = "example_user"

bucket_name     = "example-stock-pipeline-data-dev"
polygon_api_key = "your-polygon-api-key"

secret_name    = "example-rds-secret-name"
jwt_secret_key = "replace-with-a-long-random-secret"
frontend_url   = "http://localhost:3000"